<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes Filmes</title>
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body class="bg-dark">
  <nav class="navbar">  
    <div class="container">
      <a href="" class="navbar-brand text-light fs-2 fw-bold">Apmdb</a>
      <button class="btn btn-outline-light">Pagina Inicial</button>
    </div>
  </nav> 
  <main>
     <div class="container mt-3">
      <h1 class="fs-2 fw-bold text-light">Filmes em Alta</h1>  
     </div>
  </main>
</body>
</html>