<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto Webpack Base</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body class="bg-dark">
  <nav class="navbar">  
    <div class="container">
      <a href="" class="navbar-brand text-light fs-2 fw-bold">Apmdb</a>
      <button class="btn btn-outline-light">Pagina Inicial</button>
    </div>
  </nav> 
  <main>
     <div class="container mt-3">
      <h1 class="fs-2 fw-bold text-light">Filmes em Alta</h1>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSRzqY49FGdOAUVxHf6h0qXBw5CNwKiDMkXhdW0hFAxVS7hzf5F"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos</a>
          </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcSHM6pDxCtBbkgbhlOOee2SiAHCg8gWjV3GTmd1yniG0A7DflVFA5OMIwe-2N-NqITG"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">+ Velozes + Furiosos</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS8xKfWkbT8_DqVbUFzUlmmUfdrKm05Mr9I-GQIE5yALIUxSFXa"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos: Desafio em Tóquio</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGCLOXAoh8h98t3tPxWhuIC56TjH4QcNgFqXUxIHlf2efl3iV1"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos 4</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTo3ITeQq2pZsUEsuo30L9sTU3bCnRR4qN5l_4CVkYGd-VskiP8"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos 5: Operação Rio</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMnNHKhZcS5d7Eoar0Cj5-rdbRSqnjvUrY3lCs8heC6hZ58w9o"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos 6</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQeFw2aZDvBeISPR42qowNwbey0WVIcsKLbVuCMn4JmR2GbFgLv"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes & Furiosos 7</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://br.web.img3.acsta.net/pictures/17/03/27/09/49/121118.jpg"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos 8</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS1nI_Z3FYp-mE3L83VBWb60wJpbzFcK2we7_ZeV0W0yLgjE-x3"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos 9</a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="d-grid gap-2 text-center text-center">
          <img
            src="https://br.web.img2.acsta.net/pictures/23/05/16/22/53/0156803.jpg"
            class="img-fluid rounded-3 p-2 pb-0">
            <a href="" class="fs-5 link-light fw-bold text-decoration-none">Velozes e Furiosos 10</a>
        </div>
      </div>




     </div>

  </main>

</body>
</html>